<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750751683685-a54pf9vbjgf7ss91r2qtqtkt3odjtc1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750751683685-a54pf9vbjgf7ss91r2qtqtkt3odjtc1i</string>
	<key>API_KEY</key>
	<string>AIzaSyAz1YfeuLJho3IRiDWr9Xv-PxVowXj6LWc</string>
	<key>GCM_SENDER_ID</key>
	<string>750751683685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glory903.egpp.evangelicalGospelPartner</string>
	<key>PROJECT_ID</key>
	<string>egp-platform</string>
	<key>STORAGE_BUCKET</key>
	<string>egp-platform.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750751683685:ios:c9dbb0f944b53c2f7fe28c</string>
</dict>
</plist>